<%= form_for(@adre) do |f| %>
  <% if @adre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adre.errors.count, "error") %> prohibited this adre from being saved:</h2>

      <ul>
      <% @adre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID %><br>
    <%= f.number_field :ID %>
  </div>
  <div class="field">
    <%= f.label :miejscowosc1 %><br>
    <%= f.text_field :miejscowosc1 %>
  </div>
  <div class="field">
    <%= f.label :miejscowosc2 %><br>
    <%= f.text_field :miejscowosc2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
