<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @adre.ID %>
</p>

<p>
  <strong>Miejscowosc1:</strong>
  <%= @adre.miejscowosc1 %>
</p>

<p>
  <strong>Miejscowosc2:</strong>
  <%= @adre.miejscowosc2 %>
</p>

<%= link_to 'Edit', edit_adre_path(@adre) %> |
<%= link_to 'Back', adres_path %>
